.cards-grid__like-btn {
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: none;
  background: url(../../../images/cards/like.svg) no-repeat 100%/contain transparent;
  cursor: pointer;
  transition: .3s ease;
}

.cards-grid__like-btn:hover {
  opacity: .5;
}

.cards-grid__like-btn_active {
  background: url(../../../images/cards/like-active.svg) no-repeat 100%/contain transparent;
}